:root{
--primary-text-color:#757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--accent-color-second:#fff;
--accent-bgc-hero:#2F303A;
--accent-bgc-folio:#F5F4FA;

}

body{
    font-family:Roboto,sans-serif;
    font-size:14px;
    color:var(--primary-text-color);
    text-decoration:none;
  }
/* Класы чтобы убрать точки списка */
ul,li{
  list-style-type: none;
  }


  .logo {
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    color:var(--title-text-color);
    text-decoration: none;
  } 

.logo:hover,
.logo:focus
{
    color:var(--accent-color);
    
}

  .letter{
      color:var(--accent-color);
  }

  .nav-list{
  color:var(--accent-color);
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  color:var(--primary-text-color);
  font-weight:500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  }

  .nav-list .link.current{
  
  color: var(--title-text-color);
  }


  .nav-list .link:hover,
  .nav-list .link:focus
  {  
    color: var(--title-text-color);
    color:var(--accent-color);
    
  }

  /* активная ссылка при переходе на другую страницу*/

  
  /* интерактивные ссылки емейл и номер телефона */
  a {
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
     font-style: normal;
  }

.comunication:hover,
.comunication:focus
{
color:var(--accent-color);
}

  /* section hero */
  .hero{
    background-color:var(--accent-bgc-hero);
    text-align:center;
  }

  .main-header{
  color: var(--accent-color-second);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  }

  /* кнопка */

button{
  color:var(--title-text-color);
  background: var(--accent-bgc-folio);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
}

.btn-links:hover,
.btn-links:focus
{
color: var(--accent-color-second);
background: var(--accent-color);
}


/* cекция 2 */

/* спрятаный заголовк */

#hidden{
  display: block;
}
  .advantage{
    font-size: 14px;
    line-height: 1.7;
  }

  .tools{
  font-size: 16px;
  line-height:1.1;
  color: var(--title-text-color);
  }

  .description {
color:var(--title-text-color);  
font-weight: bold;
font-size: 36px;
line-height: 1.1;
  }
  
 .team-dream{
background-color:var(--accent-bgc-folio);
 } 

.surname {
  font-size: 16px;
  line-height:1.1;
  color: var(--title-text-color);
}

.adress-details{
  background-color:var(--accent-bgc-hero);
  
}
.town-address{
  font-size: 14px;
  line-height: 1.7;
  color:var(--accent-color-second);
  font-style: normal; 
}



.color{
  color:var(--accent-color-second)
}

/* Страница портфолио */

/*  cекция кнопок для навигации  */

.social-links {
  font-size: 16px;
  line-height: 26px;
  color:var(--primary-text-color);
 
  }

 .social-links .link:hover,
 .social-links .link:focus
{
color:var(--accent-color-second);
background-color:var(--accent-color);
}

/* секция карточек */

.header-size{
  font-size: 18px;
  line-height:2;
  color: var(--title-text-color);
}


